<!DOCTYPE html>
<html ng-app="emag">

<head>
    <meta charset="utf-8">
    <title>eMAG.bg</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/userPersonalDataCss.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">




</head>

<body ng-controller="mainController">

<div class="container-fluid">

    <nav id="mainNavigationBar" class="navbar navbar-default">
        <div class="container">
            <div id="searchBarContainer">

                <ul class="nav navbar-nav navbar-right">

                    <li id="logo">
                        <a ng-href="#/">
                            <img src="https://s0emagst.akamaized.net/layout/bg/images/logo//12/17641.png">
                        </a>
                    </li>

                    <li id="searchForm"><input type="text" class="form-control" placeholder="Search" size="45"></li>
                    <li><a  ng-href="#userPersonalData">

                    <li ng-show="isAuthenticated"><a ng-href="#userPersonalData">
                        <img src="pictures/profile.png" height="20" width="20"/>
                        My profile</a>
                    </li>
                    <li ng-show="isAuthenticated">
                        <a href="#">
                            <img src="pictures/favourite.png" height="20" width="20"/>
                            Favourites</a></li>
                    <li>
                        <a href="#">
                            <img src="pictures/cart.png" height="20" width="20"/>
                            My shopping cart
                        </a>
                    </li>
                    <div ng-hide="isAuthenticated">
                        <li>
                            <a class="btn btn-default btn-outline btn-circle" ng-href="#login">
                                <span class="glyphicon glyphicon-log-in"></span>
                                Login
                            </a>
                        </li>
                        <li>
                            <a id="register" class="btn btn-default btn-outline btn-circle" ng-href="#register">
                                Register
                            </a>
                        </li>
                    </div>


                    <li ng-show="isAuthenticated">
                        <a id="logout" class="btn btn-default btn-outline btn-circle" ng-href="#logout">
                            Logout
                        </a>
                    </li>

            </ul>

        </div>
</div>
</nav>


<nav id="navigationBar" class="navbar navbar-default">
    <div class="container">

        <div class="navbar-header">
            <div id="categoryNavigation">
                <ul>
                    <div class="dropdown">
                        <button class="dropbtn" data-toggle="dropdown">Categories</button>

                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu " ng-repeat="category in categories">

                                <a class="test" href="#">{{category.name}}
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="inner in category.innerCategories">
                                        <a href="#">{{inner.name}}</a>
                                    </li>
                                </ul>

                            </li>
                        </ul>
                    </div>

                    <div class="nav navbar-nav navbar-right">

                        <li ng-show="isAuthenticated"><a href="#">Subscribe</a></li>


                        <li><a href="#">Offers of the week</a></li>


                        <li><a href="#">Best sellers</a></li>


                        <li id="emagInfo"><a ng-href="#emagInformation">
                            <img src="pictures/information.png" height="22" width="22"/>
                            eMAG info </a></li>

                    </div>
                </ul>

            </div>
        </div>
    </div>
</nav>

</div>


<div ng-view></div>

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="../node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="app.js"></script>
<script src="controllers/logoutController.js"></script>
<script src="controllers/loginController.js"></script>
<script src="controllers/mainController.js"></script>
<script src="controllers/registerController.js"></script>
<script src="controllers/userPersonalDataController.js"></script>

</body>

</html>
