
<div ng-controller="checkoutShoppingCartController">
<div style="width: 50%; margin-left: 25%;" class="panel panel-default" >
    <div class="panel-heading">
        <h3 class="panel-title">Choose delivery address</h3>
    </div>
    <div class="panel-body">

        <ul class="list-group">
            <li class="list-group-item" ng-repeat="address in addresses">
                {{address.receiverName}} {{address.receiverPhone}} {{address.city}}
                {{address.name}} {{address.street}} {{address.floor}}
                <div class="addressButtons">
                    <button class="btn btn-success btn-block">Select</button>
                </div>
            </li>
        </ul>
    </div>


</div>
    <a style="margin-left: 10%" href="#shoppingCart" class="btn btn-warning">
        <i class="fa fa-angle-left"></i> Return to shopping cart</a>
</div>