<div ng-controller="homeController">
    <!--<form>-->
    <!--<div class="form-group imageContainer">-->
    <!--<div ng-repeat="product in products" class="form-control">-->
    <!--{{product.name}} -> {{product.description}}-->
    <!--</div>-->
    <!--</div>-->
    <!--</form>-->


    <div ng-repeat="product in products" class="col-md-2 column productbox">
        <img src="{{product.pictureURL}}" class="img-responsive">
        <div class="producttitle">{{product.name}}</div>
        <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button">BUY</a></div><div class="pricetext">£8.95</div></div>
    </div>

</div>