<div class="container" ng-controller="homeController">
    <div ng-repeat="product in products" class="col-xs-12 col-md-6">
        <!-- First product box start here-->
        <div class="prod-info-main prod-wrap clearfix">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="product-image">
                        <img src="{{product.pictureURL}}" class="img-responsive rotprod">
                        <span class="tag2 hot">
							HOT
						</span>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="product-deatil">
                        <h5 class="name">
                            <a href="#">
                            {{product.name}}
                            </a>
                                <span></span>

                        </h5>
                        <p class="price-container">
                            <span>${{product.price}}</span>
                        </p>
                        <span class="tag1"></span>
                    </div>
                    <div class="description">
                        <p>{{product.description}} </p>
                    </div>
                    <div class="product-info smart-form">
                        <div class="row">
                            <div class="col-md-12" >
                                <button ng-click="addToCart(product.id)" type="button" class="btn btn-default btn-sm btn btn-success">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> Add to cart
                                </button>

                            </div>
                            <!--<div class="col-md-12">-->
                                <!--<div class="rating">Rating:-->
                                    <!--<label for="stars-rating-5"><i class="fa fa-star text-danger"></i></label>-->
                                    <!--<label for="stars-rating-4"><i class="fa fa-star text-danger"></i></label>-->
                                    <!--<label for="stars-rating-3"><i class="fa fa-star text-danger"></i></label>-->
                                    <!--<label for="stars-rating-2"><i class="fa fa-star text-warning"></i></label>-->
                                    <!--<label for="stars-rating-1"><i class="fa fa-star text-warning"></i></label>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end product -->
    </div>


</div>

