<div class="container" ng-controller="productDetailsController">
    <div class="card">
        <div class="row">
            <aside class="col-sm-7">
                <article class="gallery-wrap">
                    <div><img id="productPic" src="{{currentProduct.pictureURL}}"></div>
                </article>
            </aside>
            <aside class="col-sm-5">
                <article class="card-body p-5">
                    <h3 class="title mb-3">{{currentProduct.name}}</h3>
                    <p class="price-detail-wrap"><span class="price h3 text-warning">
                        <span class="currency">$</span><span class="num">{{currentProduct.price}}</span></span>
                    </p>
                    <dl class="item-property">
                        <dt>Description</dt>
                        <dd><p>{{currentProduct.description}}</p></dd>
                    </dl>
                    <hr>
                    <div class="row">
                        <div class="col-sm-5">
                            <dt>Quantity: {{currentProduct.quantity}}</dt>
                        </div>
                    </div>
                    <hr>
                    <a id="btnAdd" class="btn btn-lg btn-outline-primary text-uppercase">
                        <img id="cart_icon" src="" alt="" width="22">Add to cart </a>
                </article>
            </aside>
        </div>
    </div>

</div>
